include ../button/button


mixin messaging(context)
  .messaging
    .messaging__header
      .messaging__name= context.name
    .messaging__underline
    .messaging__body
      .messaging__icons
        .messaging__icons__talks
          i(class="fa fa-comment" aria-hidden="true")
        .messaging__icons__mug
          img.messaging__icons__face(
          src= require('./blocks/messaging/pic/' + context.face)
          )
        .messaging__icons__photo
          i(class="fa fa-camera" aria-hidden="true")
      .messaging__incoming
        .messaging__incoming__text= context.incoming
      .messaging__outgoing
        textarea.messaging__outgoing__text= context.outgoing
      .messaging__button
        +button({
          size:'custom',
          color:'green',
          text:'reply',
          xclass:'a'
        })