
mixin location(context)
  .location
    .location__map(
      id = context.id
      data-id = context.id
      data-center = context.center
      data-placemark = context.placemark
      data-zoom = context.zoom
    )
    .location__info
      .location__text= context.title ? context.title : 'Meet us!'
      .location__addres= context.address ? context.address : 'No address'
      .location__target
        i.fa.fa-crosshairs(aria-hidden='true')
      .location__pipka
        i.fa.fa-map-marker(aria-hidden='true')


