
mixin location
  .location
    .location__map#map
    .location__info
      .location__text Meet us!
      .location__addres 1259 California st San Francisco, ca
      .location__target
        i.fa.fa-crosshairs(aria-hidden='true')
      .location__pipka
        i.fa.fa-map-marker(aria-hidden='true')


