.location
  display flex
  align-items center
  flex-flow column nowrap


  &__map
    height 30%
    width 70%

  &__info
    display flex
    background-color color-red
    width 70%
    height 15%
    justify-content space-between
    align-items flex-start

    &  > *
      padding-top 1rem
      color color-white

  &__text
    font-family LatoLight
    font-size 4rem
    padding-left 1rem
    flex 0 0 1

  &__addres
    font-family LatoBlack
    width 20%
    text-transform uppercase
    position relative
    right 70px
    align-self center
    text-align left

  &__target
    font-size 5rem
    flex 0 0 1

  &__pipka
    font-size 5rem
    padding-right 1rem
    flex 0 0 1




