

mixin video(context)
  iframe(
  src="https://player.vimeo.com/video/" + context.videoid + "?color=e75735"
  width="710"
  height="400"
  frameborder="0"
  webkitallowfullscreen
  mozallowfullscreen
  allowfullscreen
  )