include blocks/button/button
include blocks/arrows/arrows
include blocks/charts/charts
include blocks/sliders/sliders
include blocks/stages/stages
include blocks/search/search
include blocks/profile/profile
include blocks/news/news
include blocks/events/events
include blocks/location/location
include blocks/calendar/calendar
include blocks/messaging/messaging
include blocks/video/video
include blocks/inputs/inputs
include blocks/toggles/toggles
include blocks/checkbox/checkbox
html
  head
    meta(charset="utf-8")
    title FLAT UI
    script(
      src = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU',
      type = 'text/javascript'
    )

  body
    section.container
      .buttons-block
        h1.buttons-block__text STANDARD BUTTONS
        +button({
          size:'small',
          color:'green',
          text:'BUTTON',
        })
        +button({
          size: 'big',
          color: 'green',
          text: 'BUTTON',
        })
        +button({
          size: 'big',
          color: 'red',
          text: 'BUTTON',
          })
        +button({
          size: 'small',
          color: 'red',
          text: 'BUTTON',
        })
      .buttons-block
        +button({
          size: 'small',
          color: 'green',
          text: 'BUTTON',
        })
        +button({
          size: 'big',
          color: 'green',
          text: 'BUTTON',
        })
        +button({
          size: 'big',
          color: 'red',
          text: 'BUTTON',
        })
        +button({
          size: 'small',
          color: 'red',
          text: 'BUTTON',
        })
      .buttons-block
        +button({
          size: 'small',
          color: 'green',
          text: 'BUTTON',
        })
        +button({
          size: 'big',
          color: 'green',
          text: 'BUTTON',
        })
        +button({
          size: 'big',
          color: 'red',
          text: 'BUTTON',
        })
        +button({
          size: 'small',
          color: 'red',
          text: 'BUTTON',
        })
      .arrows-block
        h1.arrows-block__text ARROW BUTTONS
        +arrow({
          direction: 'left',
          background: 'transparent'
        })
        +arrow({
          direction: 'right',
          background: 'transparent'
        })
        +arrow({
          direction: 'left',
          background: 'grey'
        })
        +arrow({
          direction: 'right',
          background: 'grey'
        })
        +arrow({
          direction: 'left',
          background: 'green'
        })
        +arrow({
          direction: 'right',
          background: 'green'
        })
      .charts-block
        h1.charts-block__text PERCENTAGES / PIE CHART
        +chart({
          id:'firstchart',
          percent:'0',
          xclass:'middle'
        })
        +chart({
          id: 'secondchart',
          percent: '38',
          xclass: 'middle'
        })
        +chart({
          id: 'firthchart',
          percent: '62',
          xclass: 'middle'
        })
        +chart({
          id: 'fourthchart',
          percent: '89',
          xclass: 'middle'
        })
      .sliders-block
        h1.sliders-block__text SLIDERS
        +slider({
          slidername: "slider1",
          color: '#e75735',
          value:40,
          balloon:true,
          scale: false
        })
        +slider({
          slidername: "slider2",
          color: '#4eb7a8',
          value: 75,
          scale: true,
          balloon:false
        })
      .stages-block
        h1.stages-block__text STAGES
        +stage({total: 5,
                done: 3
        })
      .forms-block
        h1.forms-block__text FORM ELEMENTS
        +inputs
        .forms-tumblers
          .toggles
            h1.toggles__text TOGGLES
            +toggle({
              id:'toggle1',
              checked:false
            })
            +toggle({
              id:'toggle2',
              checked:true
            })
          .checkboxes
            h1.checkboxes__text TICK BOXES
            +checkbox({
              id:'uno',
              name:'group',
              checked:true
            })
            +checkbox({
              id:'dos',
              name: 'group',
              checked: false
            })

        .search-block
          h1.search-block__text SEARCH / DROP DOWN
          +search
          +dropdown({
            options: ["Choose an option", "First option", "Second option", "Hueption", "Fourth option"]
          })
        .profile-block
          h1.profile-block__text USER PROFILE
          +profile({
            photo: 'face1.png',
            name: 'John Smith',
            profession: 'UX DESIGNER',
            fblink: '',
            twlink: '',
            site: '',
            color: 'grey'
          })
          +profile({
            photo: 'face2.png',
            name: 'Sarah Brown',
            profession: 'DEVELOPER',
            fblink: '',
            twlink: '',
            site: '',
            color: 'green'
          })

      .news-block
        h1.news-block__text NEWS & EVENTS
        +news({
          newspic:'pic1.jpg',
          title:'It’s all going downhill',
          datetime:'2013-08-24',
          time:'24 AUGUST 2013',
          text:'Lorem ipsum dolor sit amet, ' +
                'consectetur adipiscing elit. Sed condimentum aliquet venenatis. ' +
                'Etiam a nisi nunc, a tincidunt eros.'
        })
        +event({
          pic:'pic1.jpg',
          datetime:'2013-08-24',
          date:'24',
          month:'Aug',
          title:'THIS IS THE TITLE',
          text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        })
      .location-block
        h1.location-block__text LOCATION
        +location({
          title: 'Meet us!',
          address: '1259 California st San Francisco, ca',
          id: 'mymap',
          center: [55.76, 37.64],
          placemark: [55.76, 37.64],
          zoom: 5
        })
      .calendar-messaging
        .calendar-block
          h1.calendar-block__text calendar
          +calendar()
        .messaging-block
          h1.messaging-block__text messaging
          +messaging({
            name:'Sarah Brown',
            face: 'face.png',
            incoming: 'Hey! So are we cool to meet at the art gallery? Say 8pm',
            outgoing: 'Yeah that sounds great. See you then.'
          })
      .video-block
        h1.video-block__text video
        +video({
          videoid:'37848135'
        })









