@import "var.styl"
@import 'blocks/button/btn.styl'
@import "blocks/arrows/arrows.styl"
@import "blocks/charts/charts.styl"
@import "../node_modules/percircle/dist/css/percircle.css"
@import "blocks/sliders/sliders.styl"

@require '../node_modules/jquery-ui-bundle/jquery-ui.min.css'

@require 'FontAwesome/font-awesome.min.css'
@import '../node_modules/css-ripple-effect/dist/ripple.min.css'