include blocks/button/button
include blocks/arrows/arrows
include blocks/charts/charts
include blocks/sliders/sliders
include blocks/stages/stages
include blocks/forms/forms
include blocks/forms/profile
include blocks/news/news
include blocks/events/events
html
  head
    meta(charset="utf-8:")
    title FLAT UI

  body
    .container
      .buttons
        h1.buttons__text STANDARD BUTTONS
        +button('small', 'green','BUTTON','a')
        +button('big', 'green','BUTTON', 'a')
        +button('big', 'red', 'BUTTON', 'b')
        +button('small','red', 'BUTTON', 'b')
      .arrows
        h1.arrows__text ARROW BUTTONS
        +arrow('left','transparent')
        +arrow('right','transparent')
        +arrow('left','grey')
        +arrow('right','grey')
        +arrow('left','green')
        +arrow('right','green')
      .charts
        h1.charts__text PERCENTAGES / PIE CHART
        +chart('first','0','middle')
        +chart('second','38','middle')
        +chart('firth','62','middle')
        +chart('fourth','89','middle')
      .sliders
        h1.sliders__text SLIDERS
        +slider('test')
        +slider('test2')
      .stages-blok
        h1.stages-block__text STAGES
        +stage
      .forms-block
        h1.forms-block__text FORM ELEMENTS
        +inputs
        .forms-tumblers
          .forms-tumblers__toggles
            h1 TOGGLES
            +toggle('toggle1')
            +toggle('toggle2')
          .forms-tumblers__checkboxes
            h1 TICK BOXES
            +checkbox(true)
            +checkbox(false)
        .search-block
          h1.search__text SEARCH / DROP DOWN
          +search
          +dropdown
        .profile-block
          h1.profile__text USER PROFILE
          +profile('face1.png', 'John Smith', 'UX DESIGNER', '','','','grey')
          +profile('face2.png', 'Sarah Brown', 'DEVELOPER', '','','','green')
      .news-block
        h1.news-block__text NEWS & EVENTS
        +news({
          newspic:'pic1.jpg',
          title:'It’s all going downhill',
          datetime:'2013-08-24',
          time:'24 AUGUST 2013',
          text:'Lorem ipsum dolor sit amet, ' +
                'consectetur adipiscing elit. Sed condimentum aliquet venenatis. ' +
                'Etiam a nisi nunc, a tincidunt eros.'
        })
        +event({
          pic:'pic1.jpg',
          datetime:'2013-08-24',
          date:'24',
          month:'Aug',
          title:'THIS IS THE TITLE',
          text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        })


      //include blocks/arrows/arrows
      //include blocks/charts/charts
      //include blocks/sliders/sliders
      //include blocks/stages/stages








