include blocks/button/button
html
  head
    meta(charset="utf-8:")
    title FLAT UI

  body
    .buttons
      h1.buttons__text STANDARD BUTTONS
      +button('small', 'green','BUTTON')
      +button('big', 'green','BUTTON')
      +button('big', 'red', 'BUTTON')
      +button('small','red', 'BUTTON')
      .tests


      //include blocks/arrows/arrows
      //include blocks/charts/charts
      //include blocks/sliders/sliders
      //include blocks/stages/stages








