include blocks/button/button
include blocks/arrows/arrows
include blocks/charts/charts
include blocks/sliders/sliders
include blocks/stages/stages
include blocks/forms/search
include blocks/forms/profile
include blocks/news/news
include blocks/events/events
include blocks/location/location
include blocks/calendar/calendar
include blocks/messaging/messaging
include blocks/video/video
include blocks/inputs/inputs
include blocks/toggles/toggles
include blocks/checkbox/checkbox






html
  head
    meta(charset="utf-8")
    title FLAT UI
    script(
      src = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU',
      type = 'text/javascript'
    )

  body
    section.container
      .buttons-block
        h1.buttons-block__text STANDARD BUTTONS
        +button({
          size:'small',
          color:'green',
          text:'BUTTON',
          xclass:'a'
        })
        +button({
          size: 'big',
          color: 'green',
          text: 'BUTTON',
          xclass: 'a'
        })
        +button({
          size: 'big',
          color: 'red',
          text: 'BUTTON',
          xclass: 'b'
        })
        +button({
          size: 'small',
          color: 'red',
          text: 'BUTTON',
          xclass: 'b'
        })
      .arrows-block
        h1.arrows-block__text ARROW BUTTONS
        +arrow({
          direction: 'left',
          background: 'transparent'
        })
        +arrow({
          direction: 'right',
          background: 'transparent'
        })
        +arrow({
          direction: 'left',
          background: 'grey'
        })
        +arrow({
          direction: 'right',
          background: 'grey'
        })
        +arrow({
          direction: 'left',
          background: 'green'
        })
        +arrow({
          direction: 'right',
          background: 'green'
        })
      .charts-block
        h1.charts-block__text PERCENTAGES / PIE CHART
        +chart({
          id:'first',
          percent:'1',
          xclass:'middle'
        })
        +chart({
          id: 'second',
          percent: '38',
          xclass: 'middle'
        })
        +chart({
          id: 'firth',
          percent: '62',
          xclass: 'middle'
        })
        +chart({
          id: 'fourth',
          percent: '89',
          xclass: 'middle'
        })
      .sliders-block
        h1.sliders-block__text SLIDERS
        +slider({
          slidername: "slider1",
          color: '#e75735'
        })
        +slider({
          slidername: "slider2",
          color: '#4eb7a8',
          scale: true
        })
      .stages-blok
        h1.stages-block__text STAGES
        +stage
      .forms-block
        h1.forms-block__text FORM ELEMENTS
        +inputs
        .forms-tumblers
          .forms-tumblers__toggles
            h1.forms-tumblers__text TOGGLES
            +toggle('toggle1')
            +toggle('toggle2')
          .forms-tumblers__checkboxes
            h1 TICK BOXES
            +checkbox(true)
            +checkbox(false)
        .search-block
          h1.search__text SEARCH / DROP DOWN
          +search
          +dropdown
        .profile-block
          h1.profile__text USER PROFILE
          +profile('face1.png', 'John Smith', 'UX DESIGNER', '','','','grey')
          +profile('face2.png', 'Sarah Brown', 'DEVELOPER', '','','','green')

      .news-block
        h1.news-block__text NEWS & EVENTS
        +news({
          newspic:'pic1.jpg',
          title:'It’s all going downhill',
          datetime:'2013-08-24',
          time:'24 AUGUST 2013',
          text:'Lorem ipsum dolor sit amet, ' +
                'consectetur adipiscing elit. Sed condimentum aliquet venenatis. ' +
                'Etiam a nisi nunc, a tincidunt eros.'
        })
        +event({
          pic:'pic1.jpg',
          datetime:'2013-08-24',
          date:'24',
          month:'Aug',
          title:'THIS IS THE TITLE',
          text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        })
      .location-block
        h1.location-block__text LOCATION
        +location()
      .calendar-messaging
        .calendar-block
          h1 calendar
          +calendar()
        .messaging-block
          h1 messaging
          +messaging()
      .video-block
        h1.video-block__text video
        +video({
          videoid:'37848135'
        })









