.forms-tumblers
  display flex
  flex-flow column nowrap
  justify-content flex-start
  align-items center
  box-sizing border-box
  width 50%
  &__text
    margin-top 0
  &__toggles
    display flex
    flex-flow row wrap
    justify-content space-around
    width 100%
    box-sizing border-box
    align-content space-around

.toggle
  width 5em
  height 2em
  box-shadow none
  text-shadow none

.toggle-on.active
  background-color color-green
