

.onoffswitch
  position relative
  width 78px
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none

  &-checkbox
    display none

  &-label
    display block
    overflow hidden
    cursor pointer
    border none
    border-radius 28px

  &-inner
    display block
    width 200%
    margin-left -100%
    transition margin 0.3s ease-in 0s

    &:before, &:after
      display block
      float left
      width 50%
      height 30px
      padding 0
      line-height 30px
      font-size 17px
      color white
      font-family Trebuchet, Arial, sans-serif
      font-weight bold
      box-sizing border-box

    &:before
      content "ON"
      padding-left 14px
      background-color #4EB7A8
      color #FFFFFF

    &:after
      content "OFF"
      padding-right 14px
      background-color #E5E5E5
      color #FFFFFF
      text-align right

  &-switch
    display block
    width 22px
    margin 4px
    background #FFFFFF
    position absolute
    top 0
    bottom 0
    right 44px
    border none
    border-radius 50rem
    transition all 0.3s ease-in 0s

  &-checkbox:checked + &-label &-inner
    margin-left 0

  &-checkbox:checked + &-label &-switch
    right 0
