

.search
  display flex
  flex-flow row nowrap
  width 99%
  margin-bottom 1em

  &__input
    font-family SourceSansProRegular
    padding 0.5em 1em
    font-size 1.1rem
    font-weight bold
    width 90%
    height 2.05rem
    background-color color-grey
    border-radius 0.2rem 0 0 0.2rem
    border none
    outline none
  &__placeholder
    &::-webkit-input-placeholder
      color color-white
  &__button
    position relative
    width 2.4rem
    height 2.05rem
    background-color color-red
    color color-white
    border none
    border-radius 0 0.2rem 0.2rem 0
    &:after
      font-family FontAwesome
      display block
      content '\f002'
      font-size 1.5em

.dropdown
  display flex
  flex-flow row nowrap
  position relative
  width 99%
  border none
  &__menu
    width 100%
    background-color color-grey
    border none
    border-radius 0.2rem 0.2rem 0.2rem 0.2rem
    outline none
    font-family SourceSansProRegular
    font-size 1.1rem
    font-weight bold
    color color-darkgrey
    height 2.05rem
    padding 0 0.8rem
  &:before
    position absolute
    right 0
    top 0
    bottom 0
    display flex
    justify-content center
    align-items center
    width 2.4rem
    height 2.05rem
    background-color color-green
    font-family FontAwesome
    font-size 2em
    content '\f107'
    color white
    pointer-events none
    border-radius 0 0.2rem 0.2rem 0
