
mixin search
  .search
    input.search__input(type='search' placeholder='Search')
    button.search__button

mixin dropdown(context)
  label.dropdown
    select.dropdown__menu()
      if context.options
        each option in context.options
          option.dropdown__option #{option}