photoplace-size = 6rem

.profile
  display flex
  flex-flow row nowrap
  justify-content space-around
  margin-bottom 2em
  margin-left 1rem
  &:before
    display inline
    position: absolute
    top: 0
    left: 0
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid color-red
    height 5em
    width 5em
  &__photoplace
    width photoplace-size
    height photoplace-size
    border-radius 50%
    border 0.3em solid color-darkgrey
    background-color color-grey
    display flex
    justify-content center
    align-items center

    &_photo
      width 100%
      height 100%


  &__info
    position relative
    display flex
    flex-flow column nowrap
    justify-content space-between
    align-content space-around
    align-items center
    width 12rem
    margin-left 1em
    padding .3em 0
    border-radius .5em
    &:before
      display inline
      position: absolute
      top: 0
      left: 0
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid color-red
      height 5em
      width 5em
    &:after
      content ''
      display block
      background-color inherit
      transform rotate(45deg)
      width 1rem
      height 1rem
      position absolute
      left -.4rem
      top 2.5rem

    &_name
      font-family LatoRegular
      text-align center
      font-size 1.3rem
      margin-top .45rem
      &_grey
        color color-red
      &_white,
      &_green
        color color-white

    &_profession
      color color-white
      font-family LatoBlack
      text-align center
      font-size .8rem
      margin-top -1rem
      &_grey
        color color-darkgrey
      &_white,
      &_green
        color color-white

    &__links
      display flex
      flex-flow row nowrap
      justify-content space-around
      align-items flex-start
      font-size 1.8em
      width 70%
      margin-bottom .5rem

    &_red
      background-color color-red
    &_green
      background-color color-green
    &_grey
      background-color: color-grey

    & a
      text-decoration none
      color black

    & a:hover
      color color-red
      cursor pointer


