.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}
.buttons__btn {
  color: #fff;
  margin-right: 23px;
  border-radius: 0.25rem;
  border: 0px;
  margin-top: 75px;
}
.buttons__small {
  width: 6.5rem;
  padding: 0.5rem;
}
.buttons__big {
  width: 10rem;
  padding: 1rem;
}
.buttons__text {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.buttons__red {
  background-color: #e75735;
}
.buttons__green {
  background-color: #4eb7a8;
}
