.event
  display flex
  flex-flow row
  box-sizing border-box
  width 49%
  height 16rem
  justify-content center
  margin-left .4rem

  &__picture
    width 32%
    flex-shrink 0
    img
      width 100%
      height 100%
      border-radius .3rem 0 0 .3rem

  &__area
    display flex
    align-items stretch
    flex-flow column
    justify-content space-around
    padding 6%
    width 68%
    box-sizing border-box
    color color-white
    background-color color-green
    border-radius:0 .3rem .3rem 0
    flex-shrink 0

    &__timeblock
      display flex
      justify-content space-between
      align-items baseline
      font-family LatoLight
      flex-shrink 0
      text-align left
      margin-bottom .5rem

      &_datetime
        font-size 6rem
        line-height 6rem
        margin-bottom 0
        text-align left

      &_month
        font-size 2.5rem
        margin-top 0.6em

    &_title
      font-family Lato
      font-size .9rem

    &_text
      font-size 1rem
      margin-bottom .5rem
      flex-shrink 0
    &_button
      display flex
      align-items center
      justify-content center
      width 90%
      height 10%

//position relative
//top .5em
//right -7.4em