circle-radius = 1.8rem

.stages-block
  width 100%
  &__text
    margin-bottom 1.5em

.stages
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  width 100%

  &__stage
    width circle-radius
    height circle-radius
    border-radius 50%
    z-index 2

    &_color-red
      border 3px solid color-red
      background-color color-red
      color color-white
    &_color-grey
      border 3px solid color-grey
      background-color color-grey
      color color-darkgrey

  &__connect
    width 10.5em
    height .4em
    margin 0 -1em
    &_color-red
      background-color color-red

    &_color-grey
      background-color color-grey


  &__icon
    text-align center
    margin-top 0.1 em
    font-weight bold
    font-size 1.5em


