mixin stage
  .stages
    .stages__stage.stages__stage_color-red
      .stages__icon 1
    .stages__connect.stages__connect_color-red

    .stages__stage.stages__stage_color-red
      .stages__icon 2
    .stages__connect.stages__connect_color-red

    .stages__stage.stages__stage_color-red
      .stages__icon 3
    .stages__connect.stages__connect_color-grey

    .stages__stage.stages__stage_color-grey
      .stages__icon 4
    .stages__connect.stages__connect_color-grey

    .stages__stage.stages__stage_color-grey
      .stages__icon 5
