.stages-block

  &__text
    text-align center

.stages
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center


  &__stage
    width 4em
    height 4em
    border-radius 50%
    z-index 2


    &_color-red
      border 3px solid color-red
      background-color color-red

    &_color-grey
      border 3px solid color-grey
      background-color color-grey
      color color-grey


  &__connect

    width 10em
    height 1em
    margin 0 -1em

    &_color-red
      background-color color-red


    &_color-grey
      background-color color-grey



  &__icon
    text-align center
    vertical-align middle
    margin-top 0.1 em
    font-weight bold
    font-size 3em
    color color-white


