circle-radius = 2rem

.stages
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  width 100%

  &__circle
    display flex
    justify-content center
    align-items center
    width circle-radius
    height circle-radius
    border-radius 50%
    z-index 2
    background-color color-grey
    color color-darkgrey
    flex-shrink 0
    border none

  &__connect
    width 10.5rem
    height .4em
    margin 0 -1em
    background-color color-grey
  &__done
    //border 3px solid color-red
    background-color color-red
    color color-white

  &__icon
    text-align center
    font-weight bold
    font-size 1em
    font-family LatoRegular


