.charts-block
  &__text
    margin-bottom 2rem

.percircle
  background-color inherit
.percircle:after
  background-color inherit

.charts-block
  display flex
  flex-flow row wrap
  justify-content space-between

  &__text
    width 100%
    text-align center
