.percircle
  background-color inherit

.percircle:after
  background-color inherit


.charts
  display flex
  flex-flow row wrap
  justify-content center




  &__text
    width 100%
    text-align center

  &__chart + &__chart
    margin-left 0.3em