// size, color, text, xclass


mixin button(context)
  button.button.ripple(
    class = 'button_' + context.size,
    class = "button_" + context.color,
    class = 'button_' + context.xclass,
  )= context.text
