checkbox__radius = 1.8rem

.checkbox
  &__checker
    display none

  &__label
    display inline-flex
    justify-content center
    align-items center
    margin-top 1.2em
    width checkbox__radius
    height checkbox__radius
    border none
    border-radius 50%
    font-size checkbox__radius / 2
    background-color color-grey
    color color-darkgrey

    &:after
      font-family FontAwesome
      display block
      content '\f00c'

input[type='radio']:checked + label
  background-color color-green
  color color-white