
mixin checkbox(context)

    input.checkbox__checker(
      id = 'checkbox-' + context.id
      type='radio'
      name='checkbox-' +  context.name
      checked = context.checked
      )
    label.checkbox__label(
    for = 'checkbox-' + context.id
    )

