//-
    <div class='ui-datepicker-buttonpane ui-widget-content'>" + ( isRTL ? controls : "" ) +
    <button type='button' class='ui-datepicker-current ui-state-default ui-priority-secondary ui-corner-all' data-handler='today' data-event='click'" +
    ">" + currentText + "</button>

mixin calendar
  .calendar
    input.calendar__header(disabled)
    .calendar__body
    .calendar__footer today



