arrow_radius = 3.7rem

.arrows-block
  width 75%
  display flex
  justify-content space-between
  align-items center
  flex-flow row wrap

  &__text
    width 100%
    text-align center
    font-weight bold

.arrow
  width arrow_radius
  height arrow_radius
  border-radius 50%
  background transparent
  font-family FontAwesome
  outline none
  cursor pointer
  display flex
  justify-content center
  align-items center
  &_left:after
    position relative
    top -.1rem
    left -.2rem
    content '\f104'
    font-size 4em
  &_right:after
    position relative
    top -.1rem
    right -.2rem
    content '\f105'
    font-size 4em

  &_green
    background-color color-green
    color color-white
    border .2em solid color-green
  &_green-invert
    background-color color-white
    color color-green

  &_transparent
    background transparent
    border .2em solid color-green
    color color-green

  &_grey
    background-color color-grey
    color: #ffffff
    border .2em solid color-grey

