include ../button/button.pug

mixin inputs
  .form-inputs
    .form-inputs__name
      input.form-inputs__name_field(type='text' placeholder='Your Name')
      .form-inputs__name_notification.form-inputs__name_notification-error
        .form-inputs__name_notification-arrow

    .form-inputs__email
      input.form-inputs__email_field(type='email' placeholder='Your Email')
      .form-inputs__email_notification.form-inputs__email_notification-error
        .form-inputs__name_notification-arrow


    .form-inputs__message
      textarea.form-inputs__message_field(
      placeholder='Your message'
      maxlength=140
      )
      .form-inputs__message_button
        +button('big', 'green','BUTTON', 'a')