.forms-block
  display flex
  flex-flow row wrap
  justify-content center
  align-self center
  width 70%

  &__text
    width 100%
    text-align center

.form-inputs
  box-sizing border-box
  width 50%
  display flex
  flex-flow column nowrap
  align-content space-between

  &__name,
  &__email
    display flex
    flex-flow row nowrap
    width auto

    &_field
      box-sizing border-box
      width 80%
      background-color color-grey
      padding 0.5em
      font-size 1.2em
      margin-bottom 1em
      border-radius 0.5em
      border none

    &_notification
      width 20%
      height 5%
      margin-left 1em
      margin-top 0.1em
      border-radius 0.3em

      &-error
        text-align center

        background-color color-red

      &-error:before
        display block
        content 'ERROR'
        text-align center
        margin-top 0.5em
        font-weight bold
        color color-white
      &-arrow
        position: relative
        top: -20px
        left: -8px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid color-red
        width: 0;
        height: 0;
        z-index 2

  &__message

    &_field
      border none
      border-radius 0.5em
      width 100%
      height 10em
      background-color color-grey
      padding 0.5em
      font-size: 1.5em
      resize none

    &_button
      display flex
      justify-content  flex-end


/*****TOGGLES*****/
.forms-tumblers
  display flex
  flex-flow column nowrap
  justify-content flex-start
  align-items center
  box-sizing border-box
  width 50%

  &__toggles
    display flex
    flex-flow row wrap
    justify-content space-around
    width 100%
    box-sizing border-box
    align-content space-around

.toggle
  width 5em
  height 2em
  box-shadow none
  text-shadow none

.toggle-on.active
  background-color color-green

  /*TICK BOXES*/
.forms-tumblers__checkboxes
  display flex
  flex-flow row wrap
  justify-content space-around
  align-content space-between

  &__checkbox
    margin-top 1.2em
    width 2em
    height 2em
    border none
    border-radius 50%
    background-color color-grey
    font-size 2.4em
    display inline-flex
    justify-content center
    align-items center

    &_enabled
      background-color color-green
      color color-white

    &_icon
      font-family FontAwesome

      &:after
        display block
        content '\f00c'
