mixin profile(photo, name, profession, fblink, twlink, site, color)
  .profile
    .profile__photoplace
      img.profile__photoplace_photo(
      src= photo
      )
    .profile__info
      .profile__info_name
      .profile__info_profession
      .profile__info__links
        .profile__info__links_fblink
        .profile__info__links_twlink
        .profile__info__links_site