
mixin search
  .search
    input.search__input(type='search' placeholder='чо ищем')
    button.search__button

mixin dropdown
  label.dropdown
    select.dropdown__menu
      option first option
      option second option
      option hueption
      option fourth option

